<nav class="pl-50 pr-50 ml--50 mr--50 navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="<%= image_url "football.png" %>" width="48" height="48" style="max-height: 10rem">
      <span class="has-text-info has-text-weight-normal is-size-4 ml-5">FootBook</span>
    </a>
    <div class="navbar-burger burger" data-target="navMenuColorblack-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="" class="navbar-menu">
    <div class="navbar-end">
      <div class="search">
        <input class="search" type="text" placeholder="  🔎    Search" />
        <div class="is-hidden search-results">
          <ul>
          </ul>
        </div>
      </div>
      <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Build A Team
      </a>
      <a class="navbar-item" href="/players/compare">
        Compare Two Players
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        View Rankings
      </a>
    </div>
  </div>
</nav>
