<select name="<%= name %>">
  <% players.each do |player| %>
    <option value="<%= player.id %>"><%= "#{player.name} • #{player.nationality} • #{player.club || 'No Club'}" %></option>
  <% end %>
</select>
