<div class="card has-text-centered column mt-50 ml-25 mr-25">
  <div class="card-image">
    <figure class="">
      <img src="<%= image_url "players/#{player.id}.jpeg" %>" alt="Placeholder image" height=100>
    </figure>
  </div>
  <div class="card-content ">
    <div class="media">
      <div class="media-content has-text-centered ">
        <p class="title is-4"><a href='/player/show/<%= player.id %>'><%= player.name %></a>
        <p class="subtitle is-6">@leomessi</p>
      </div>
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
